{{ define "main" }}
<main>
    <div class="section">
        <div class="media is-justify-content-center is-align-items-center is-flex-direction-column">
            <div style="margin-bottom: 1rem;">
                {{ with .Site.Params.authorImage }}
                    <div class="image avatar">
                        <img src="{{ . }}" />
                    </div>
                {{ end }}
            </div>
            <div class="media is-justify-content-center is-align-items-center is-flex-direction-column">
                <p class="title is-2">{{ .Site.Params.Author }}</p>
                <p class="subtitle is-4" style="margin-top: 0;">Étudiant en informatique</p>
            </div>

            <article class="panel is-info">
                <p class="panel-heading">
                    CV
                </p>
                <a class="panel-block is-active js-modal-trigger" data-target="modal-js-example">
                    <span class="panel-icon">
                        <i class="fas fa-book" aria-hidden="true"></i>
                    </span>
                    CV.pdf
                </a>
            </article>
            <article>
                <div id="modal-js-example" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box is-flex is-justify-content-center is-align-items-center is-flex-direction-column">
                            <img src="/images/nikolabo.png">
                            <h1>Modal JS example</h1>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </article>
        </div>
    </div>
</main>
{{ end }}